body{
    margin: 0;
}

header{
    background-color:#006699;
    color: white;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-weight: bold;
    text-wrap: none;
}

h3{ 
    text-decoration: underline;
    margin-top: 0;
    padding: 10px 2px 15px;
}

.Calendrier{
    color: black;
}