body{
    margin: 0;
}

header{
    padding: 5px;
    background-color:#006699;
    color: white;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-weight: bold;
    text-wrap: none;
}

h3{ 
    text-decoration: underline;
    margin-top: 0;
}

/* .choix_date {
    padding: 5px 0;
} */

.calendrier{
    color: black;
}