flake8==6.1.0      # Linter pour vérifier le code
black==24.2.0      # Formatteur de code
isort==5.12.0      # Trie les imports
pytest==8.0.0      # Framework de tests
pre-commit==3.6.0  # Outil pour exécuter les hooks avant commit
